body {
    background-image: url("bg.jpg");
    background-repeat:no-repeat;
    background-color: #cccccc;
    background-size: 100% 100%;
}

.textInsideTheRow
{
 text-align: center;
}
@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
  .cardBorder{
    border: 1px solid black;
    padding: 3%;
    margin: 2%;
  }
